.nav-bar {
  display: flex;
  font-weight: 400;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em 0 1.5em;
  justify-content: space-between;
  position: fixed;
  top: 0%;
}

.nav-bar > span {
  font-family: 'Bungee', sans-serif;
  align-self: center;
}

.nav-bar-right {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}